In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [4]:
data = pd.read_csv("Book1.csv")

In [5]:
data

     channel  videos  views
0  channel 1      30  34000
1  channel 2      40  41000
2  channel 3      50  42500
3  channel 4      60  54300
4  channel 5      70  56000